@import './reset';

:root {
  font-size: 15px;
  font-family: sans-serif;
}

.wrapper {
  margin: 0 auto;
  height: 100vh;
  max-width: 1024px;
}

.btn {
  border: none;
  padding: 0 6px;
  min-height: 35px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 4px 0 red;
  text-transform: uppercase;
  font-style: italic;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.1s;
  font-weight: bold;
  &:hover {
    box-shadow: 0 0 10px 0 red;
  }
}
