.header {
  text-align: center;
  font-size: 1.1rem;
  font-style: italic;
  @media (min-width: 500px) {
    font-size: 1.5rem;
  }
  @media (min-width: 768px) {
    font-size: 1.8rem;
  }
  &__title {
    height: 18vh;
    line-height: 18vh;
  }
}
