.search {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  height: 25vh;

  &__input-wrapper {
    position: relative;
  }
  &__input {
    width: 50vw;
    height: 25px;
    border: none;
    box-shadow: 0 0 4px 0 black;
    &:focus {
      outline: none;
    }
  }
  &__list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    margin-top: 1px;
    box-shadow: 0 0 1px 0 black;
    height: 50px;
    overflow-y: scroll;
    display: none;
    &--active {
      display: block;
    }
  }
  &__list-element {
    &:hover {
      background-color: lightblue;
    }
  }
  &__button {
    border: none;
    padding: 0 6px;
    height: 25px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 4px 0 red;
    text-transform: uppercase;
    font-style: italic;
    cursor: pointer;
    transition: 0.1s;
    &:hover {
      box-shadow: 0 0 10px 0 red;
    }
  }
}
